#container {
  height: 30%;
  width: 40vh;
}
#list-title {
  background-color: #f2ec64;
  padding: 5%;
  width: 12rem;
  text-align: center;
  border: 2px solid black;
  font-weight: bold;
  width: 100%;
}

#list-content {
  background-color: #d9d9d9;
  padding: 4px;
  border: 2px solid black;
  height: 76vh;
  flex: 0 0 auto;
  overflow: auto;
  width: 100%;
}

#list-name {
  text-transform: capitalize;
}

li {
  list-style-type: none;
}

#loading-list {
  height: 73vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1147px) {
  #container {
    position: static;
    top: 75%;
    text-align: center;
    padding: 0.5em;
    max-width: 85%;
    width: auto;
  }
  #list-title {
    width: 35%;
    padding: 12px;
    margin-left: 32.5%;
  }
  #list-content {
    width: 35%;
    padding: 4px;
    margin-left: 32.5%;
    text-align: start;
    height: 50.9vh;
  }
  #body {
    height: auto;
  }
  #loading-list {
    height: 45vh;
  }
}

@media (max-width: 767px) {
  #list-content {
    font-size: 0.8rem;
  }
}
