#body {
  background: linear-gradient(0deg, #00648f 0%, rgba(0, 100, 143, 0) 15.33%),
    linear-gradient(180deg, #00648f 0%, rgba(0, 100, 143, 0) 23.14%), #21a4db;
}

#div {
  display: inline-block;
  margin-top: 3%;
  margin-left: 3%;
  position: relative;
}

#pokedex {
  width: 85%;
  max-width: 988px;
}

#pokemon-image {
  position: absolute;
  bottom: 50%;
  left: 14.5%;
  height: 17%;
}

#pokemon-type {
  position: absolute;
  color: white;
  bottom: 22%;
  left: 11.5%;
  font-size: 2.2vh;
}

#type {
  text-transform: capitalize;
}

@media (max-width: 818px) {
  #pokemon-type {
    font-size: 9.5px;
  }
}

#pokemon-data {
  position: absolute;
  color: white;
  top: 30%;
  right: 30%;
  font-size: 2.5vh;
}

#pokemon-name {
  text-transform: capitalize;
}

#write {
  color: #0be34c;
}

#input {
  width: 100%;
  text-align: center;
  padding: 2%;
  border: 2px solid black;
  border-radius: 8px;
  font-weight: bold;
}

@media (max-width: 788px) {
  #pokemon-data {
    font-size: 13px;
  }
}

#form {
  position: absolute;
  width: 25%;
  bottom: 32%;
  left: 51%;
}

#button {
  position: absolute;
  display: flex;
  width: 25%;
  bottom: 25%;
  left: 51%;
  gap: 4%;
}

#container {
  position: absolute;
  top: 22%;
  left: 76%;
}
