#contact-main {
  display: flex;
  background-color: #fe002b;
  width: 100%;
  text-align: center;
  justify-content: center;
}

#background-contact {
  width: 100%;
  height: 100vh;
  padding: 1rem;
  max-width: 1000px;
}

#line1-c,
#line2-c,
#line3-c,
#line4-c {
  background-color: black;
  height: 100vh;
  width: 15px;
  margin-right: 2rem;
  margin-left: 2rem;
}

#text-container {
  position: absolute;
  width: 50%;
  bottom: 18.5%;
  left: 27.5%;
  height: 60%;
}
#text-contact {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  text-align: start;
  justify-content: space-evenly;
  height: 100%;
}

#LinkedIn,
#Github,
#Curriculo {
  display: flex;
  align-items: center;
  color: white;
}

a {
  color: white;
}

#pokeballContact {
  padding: 12%;
  width: 111px;
}

#link {
  width: 100%;
  text-align: end;
}

@media (max-width: 1023px) {
  #text-container {
    width: 65%;
    bottom: 30%;
    left: 15%;
    height: 35%;
  }
}

@media (max-width: 767px) {
  #text-contact {
    font-size: 1rem;
  }
  #pokeballContact {
    padding: 12%;
    width: 70px;
  }
  #text-container {
    width: 82.5%;
    bottom: 34%;
    left: 9%;
    height: 25%;
  }
}
