#main-container-smart {
  background: linear-gradient(0deg, #00648f 0%, rgba(0, 100, 143, 0) 38.41%),
    linear-gradient(180deg, #00648f 0%, rgba(0, 100, 143, 0) 12.35%), #21a4db;
  height: 100vh;
}

#div-content-smart {
    display: inline-block;
    margin-top: 5%;
    margin-left: 5%;
    position: relative;
}

#pokedex-smart {
  width: 90%;
  max-width: 570px;
}

#pokemon-image-smart {
    position: absolute;
    bottom: 49.5%;
    left: 30%;
    height: 14%;
  }
