

@media (max-width: 600px) {
  #pokemon-type,
  #write,
  #pokemon-weight,
  #pokemon-height {
    display: none;
  }
  #pokemon-data{
    color: black;
    font-size: 1.2rem;
    display: flex;
  }
}

@media(min-width: 601px){
  #divider-smart{
    display: none;
  }
}
